@import "./null.css";

.cart__item {
	background-color: #bebebe;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	row-gap: 10px;
	border-radius: 18px;
}
.cart__image-ibg {
	width: 100%;
	padding-bottom: 350px;
	margin-bottom: 15px;
}
.cart__image-ibg img {
	border-radius: 18px;
	max-width: 100%;
}
.cart__title {
	font-size: 40px;
	text-transform: uppercase;
	font-weight: 500;
}
.cart__sub-title {
	font-size: 25px;
}
.cart__button {
	background-color: #e2b11eb2;
	color: #fff;
	text-transform: uppercase;
	font-weight: 500;
	padding: 15px 25px;
	width: 100%;
	text-align: center;
	border-radius: 18px;
	font-size: 25px;
	transition: all 0.3s;
}
.cart__button:hover {
	background-color: #f8bd0e;
}
